<%- include('partials/header') %>

<main>
  <section>
    <h1>Olá, eu sou <%= nome %> </h1>
    <p>
      Estudante de Análise e Desenvolvimento de Sistemas e Administração, com experiência em geoprocessamento, banco de dados e desenvolvimento web. Este portfólio apresenta minha trajetória e meus projetos acadêmicos.
    </p>
  </section>

  <section>
    <h2>Educação</h2>
    <ul>
      <li><strong>Análise e Desenvolvimento de Sistemas</strong> (FATEC) 2024 - </li>
      <li><strong>Administração</strong> (ETEP) 2024 - </li>
    </ul>
  </section>

  <section>
    <h2>Experiência profissional</h2>
    <ul>
      <li><strong>Instituto Brasileiro de Geografia e Estatística (IBGE)</strong> Agente de Pesquisas e Mapeamento [2022 - 2024]</li>
      <li><strong>Procuradoria Fiscal e Tributária</strong> Estagiária de Admnistração [2024 - 2025]</li>
      <li><strong>Geopixel</strong>  Estagiária de Geoprocessamento [2025 - ]</li>
    </ul>
  </section>

  <section>
    <h2>Habilidades</h2>
    <ul>
      <li><strong>Competências Técnicas:</strong> Programação básica, Banco de dados, QGIS, Excel, Python, JavaScript, SQL, HTML, CSS, Git, Figma</li>
      <li><strong>Soft Skills:</strong> Proatividade, Organização, Trabalho em equipe, Comunicação</li>
    </ul>
  </section>

  <section>
    <h2>Trabalhos e Publicações</h2>
    <ul>
      <li>Participação na produção do material para a VI Expedição Científica do Baixo São Francisco, organizada pela UFAL, representando o IBGE.</li>
      <li><strong>Livro publicado:</strong> <a href="https://ufal.br/ufal/pesquisa-e-inovacao/programas/expedicao-cientifica-do-rio-sao-francisco/publicacoes/e-books/perfil-socioeconomico-bsf-2023.pdf/@@download/file/PERFIL%20SOCIOECONOMICO%20BSF%202023.pdf" target="_blank">pdf</a></li>
      <li><strong>Mais informações:</strong> <a href="https://agenciadenoticias.ibge.gov.br/agencia-noticias/2012-agencia-de-noticias/noticias/38415-ibge-embarca-na-vi-expedicao-cientifica-do-baixo-sao-francisco-e-leva-cidadania-para-comunidades-ribeirinhas" target="_blank">Agência de Notícias IBGE</a></li>
    </ul>
  </section>

  <section>
    <h2>Certificações</h2>
    <ul>
      <li>Curso de SQL</li>
      <li>Curso básico de Python</li>
      <li>Curso avançado de Excel</li>
      <li>Participações em treinamentos técnicos internos</li>
    </ul>
  </section>

  <section>
    <h2>Contato</h2>
    <ul>
      <li><strong>LinkedIn:</strong> <a href="https://linkedin.com/in/mariana-lins8/" target="_blank">linkedin.com/in/mariana-lins8</a></li>
      <li><strong>GitHub:</strong> <a href="https://github.com/mariana-lins" target="_blank">github.com/mariana-lins</a></li>
      <li><strong>E-mail:</strong> marianalins802@gmail.com </li>
    </ul>
  </section>
</main>

<%- include('partials/footer') %>
